---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import GitLabIcon from "../components/icons/GitLab.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Porfolio de wilfredo fermin - Desarrollador y Programador Web con 5 años de experiencia"
  description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web "
>
  <main class="px-4">
    <SectionContainer id="home" class="mx-auto pb-32 pt-11">
      <img
        class="rounded-full size-24 mb-4 flex justify-center mx-auto border-2"
        src="/projects/wfermin.webp"
        alt="wilfredo fermin photo"
      />

      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold pb-6 lg:pb-10 text-center"
      >
        Hey 👋, soy Wilfredo!  <a
          href="https://linkedin.com/in/midudev"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <!-- <Badge>Disponible para trabajar</Badge> -->
        </a>
        <span class="text-yellow-400 text-xl">
          Desarrollador Full Stack
        </span>
        <section class="rounded-3xl w-full mt-4">
          <h2
          class="text-xl lg:text-xl text-pretty text-black dark:text-white text-center"
          >
          <p class="text-white/80 dark:text-sky-200 text-pretty">
            ➕ 5 años de experiencia en desarrollo de apliacciones.
          </p>
          
          <p class="text-white/80 dark:text-sky-200 text-pretty">
          🚀 Creo aplicaciones web atractivas y funcionales.
          </p>
        </h2>
      </section>
      </h1>

      <nav class="flex gap-3 mt-4 flex-wrap content-center justify-center">
        <SocialPill href="https://linkedin.com/in/wilfredofermin">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/wilfredofermin">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://gitlab.com/wilfredofermin">
          <GitLabIcon class="size-4 md:size-6" />
          GitLab
        </SocialPill>
        <SocialPill href="mailto:wilfredofermin@hotmail.com">
          <MailIcon class="size-4 md:size-6" />
          wilfredofermin@hotmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"
      >
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
