---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Intro from "../components/Intro.astro";
---

<Layout
  title="Porfolio de wilfredo fermin - Desarrollador y Programador Web con 5 años de experiencia"
  description="Desarrollador Web "
>
  <main class="px-4">
    <div id="home" class="mb-20"></div>
    <SectionContainer class="mx-auto">
      <Intro />
      <p class="text-yellow-400 text-xl text-pretty text-center mt-4 p-4">
      Amante de la tecnología con más de 5 años de experiencia en el área de desarrollo de aplicaciones.
      </p>
    </SectionContainer>

    <div id="experiencia" class="mb-20"></div>

    <SectionContainer>
      <Experience />
    </SectionContainer>

    <div id="proyectos" class="mb-15"></div>
    <SectionContainer>
      <div
        class="text-center sm:text-left before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:dark:bg-yellow-400"
      >
        <h3 class="text-3xl font-semibold text-white">Proyectos</h3>
      </div>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre">
      <div
        class="text-center sm:text-left before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:dark:bg-yellow-400"
      >
        <h3 class="text-3xl font-semibold text-white">Sobre me</h3>
      </div>
      <About />
    </SectionContainer>
  </main>
</Layout>
