<footer
  class="rounded-lg shadow m-4 bg-gray-900/50 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10 "
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-yellow-400 t "
      >© 2024 <a href="#home" class="hover:underline ">Portafolio Wilfredo Fermin R </a>.
     
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
    >
      <!-- <li class="text-center">
        <a href="https://github.com/midudev/porfolio.dev" class="hover:underline me-4 md:me-6 text-xs text-gray-800 ">Midudev Portafolio</a>
      </li> -->
    
    </ul>
  </div>
</footer>
