---
import Briefcase from "./icons/Briefcase.astro";
import Code from "./icons/Code.astro";
import Home from "./icons/Home.astro";
---

<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    px-2
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      border border-black rounded-full
      px-3 py-1
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl
    `}
  >
    <a
      data-te-toggle="tooltip"
      title="Inicio"
      class="hover:bg-white/10 rounded-full px-3 transition text-xs sm:text-md"
      href="#home"
    >
      <Home />
    </a>

    <a
      data-te-toggle="tooltip"
      title="Experiencia Laboral"
      class="hover:bg-white/10 rounded-full px-3 transition text-xs sm:text-md"
      href="#experiencia"
    >
      <Briefcase />
    </a>
    <a
    data-te-toggle="tooltip"
    title="Proyectos"
      class="hover:bg-white/10 rounded-full px-3 transition text-xs sm:text-md"
      href="#proyectos"
    >
      <Code />
    </a>
    <!-- <a
      class="hover:bg-white/10 rounded-full px-3 transition text-xs sm:text-md"
      href="#sobre-mi">Sobre mí</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition text-xs sm:text-md"
      href="#contacto">Contacto</a
    > -->
  </nav>
</header>
