---
import Briefcase from "./icons/Briefcase.astro";
import Code from "./icons/Code.astro";
import Home from "./icons/Home.astro";
import Perfil from "./icons/Perfil.astro";
---

<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    px-2
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      border  rounded-full
      px-3 
      flex flex-row items-center
    bg-yellow-400
      backdrop-blur-2xl
    `}
  >
    <a
      data-te-toggle="tooltip"
      title="Inicio"
      class="flex-row justify-center text-white cursor-pointer hover:bg-yellow-100 hover:text-gray-600 focus:ring-4 focus:outline-none focus:ring-yellow-400/50 font-medium rounded-full px-5 py-2.5 text-center inline-flex items-center mr-2  hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 gap-x-2 opacity-90 hover:opacity-100"
      href="#home"
    >
      <Home />
    </a>

    <a
      data-te-toggle="tooltip"
      title="Experiencia Laboral"
      class="flex-row justify-center text-white cursor-pointer hover:bg-yellow-100 hover:text-gray-600 focus:ring-4 focus:outline-none focus:ring-yellow-400/50 font-medium rounded-full px-5 py-2.5 text-center inline-flex items-center mr-2  hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 gap-x-2 opacity-90 hover:opacity-100"
      href="#experiencia"
    >
      <Briefcase />
    </a>
    <a
    data-te-toggle="tooltip"
    title="Proyectos"
    class="flex-row justify-center text-white cursor-pointer hover:bg-yellow-100 hover:text-gray-600 focus:ring-4 focus:outline-none focus:ring-yellow-400/50 font-medium rounded-full px-5 py-2.5 text-center inline-flex items-center mr-2  hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 gap-x-2 opacity-90 hover:opacity-100"      href="#proyectos"
    >
      <Code />
    </a>

    <a
    data-te-toggle="tooltip"
    title="Sobre me"
    class="flex-row justify-center text-white cursor-pointer hover:bg-yellow-100 hover:text-gray-600 focus:ring-4 focus:outline-none focus:ring-yellow-400/50 font-medium rounded-full px-5 py-2.5 text-center inline-flex items-center mr-2  hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 gap-x-2 opacity-90 hover:opacity-100"      href="#sobre"
    >
      <Perfil />
    </a>
  </nav>
</header>
