
---
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import GitLabIcon from "../components/icons/GitLab.astro";
---
<img
class="rounded-full size-24 flex justify-center mx-auto border-2"
src="/projects/wfermin.webp"
alt="wilfredo fermin photo"
/>

<h1
class="text-white text-3xl md:text-4xl lg:text-5xl font-bold pb-6 lg:pb-10 text-center "
>
Hey <a class="animate-pulse font-semibold ">👋<a/>, soy Wilfredo!  <a
  href="https://linkedin.com/in/wilfredofermin"
  target="_blank"
  rel="noopener"
  class="flex justify-center items-center"
>
</a>
<span class="text-yellow-400 text-xl">
  Desarrollador Full Stack
</span>
</h1>

<nav class="flex gap-3 flex-wrap content-center justify-center">
  <SocialPill href="https://linkedin.com/in/wilfredofermin">
    <LinkedInIcon class="size-4 md:size-6" />
    LinkedIn
  </SocialPill>
  <SocialPill href="https://github.com/wilfredofermin">
    <GitHubIcon class="size-4 md:size-6" />
    GitHub
  </SocialPill>
  <SocialPill href="https://gitlab.com/wilfredofermin">
    <GitLabIcon class="size-4 md:size-6" />
    GitLab
  </SocialPill>
  <SocialPill href="mailto:wilfredofermin@hotmail.com">
    <MailIcon class="size-4 md:size-6" />
    wilfredofermin@hotmail.com
  </SocialPill>
</nav>